# Assignment 3

### Write a function to count the number 4 in a given list.

In [33]:
def coun_list(n):
    count=0
    for i in range(len(n)):
        if n[i]==4:
            count+=1
    return count
    
print(coun_list([4,1,2,3,4,4,4]))

4

### write a  function to check whether a number is divisible by another number.

In [37]:
def check(m,n):
    if m%n==0:
         return True
    else:
         return False
        
x=check(100,10)
print(x)

True

### write a function to find the maximum and minimum numbers from a sequence of numbers.

In [39]:
def max(list_10):
    list_11=[]
    list_12=[]
    for i in range(len(list_10)):
        for j in range (len(list_10)):
            if list_10[i]<list_10[j]:
                list_11=list_10[j]
            elif list_10[i]>list_10[j]:
                list_12=list_10[j]
        return list_11,list_12

x=max([0, 10, 15, 40, -5, 42, 17, 28, 75])           
print(x)

(75, -5)

### Write a Python function that takes two lists and returns True if they have at least one common member.

In [69]:
def common (l,l1):
    for i in  range(len(l)):
        for j in range(len(l1)):
            if l[i]==l1[j]:
                return True
            
print(common([1,2,3,4,5], [5,6,7,8,9]))
print(common([1,2,3,4,5], [6,7,8,9]))

True
None

### Write a Python function to calculate the factorial of a number (a non-negative integer). The function accepts the number from the user

In [194]:
def fac(n):
    if n==0:
        return 1
    else:
        return n*fac(n-1)
x=fac(5)
print(x)
# method 2
import math as m
m.factorial(5)

120

120

### Write a Python function to check whether a number is in a given range.

### The range is from 3 to 11

In [193]:
def range_3_to_11(n):
     if  n in range (3,12):
            print('the number is the range',end = ' ')
            return n
print(range_3_to_11(11))

the number is the range 11

### Write a  program to create the multiplication table (from 1 to 10) of a number.

In [135]:
def mul_table(n):
    for i in range(1,11):
        print(n,'x',i,'=',n*i)
mul_table(5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [156]:
def even(n,m):
    if n%2==0 and m%2==0:
        if n>m:
            return n
        elif m>n:
            return n
    elif n%2==1 and m%2==1:
        if n<m:
            return m
    elif n%2==0 and m%2==1:
        if n<m:
            return m
    elif  n%2==1 and m%2==0:
        if n<m:
            return m
        
        
x=even(2,5)
print(x)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [167]:
x= input(" paease enter the words:")
def same(n):
    x1=x.split()
    if n[0][0]==x1[1][0]:
        print(True)
    else:
        print(False)
m=same(x)

 paease enter the words:Crazy Kangaroo
False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [184]:
def twenty(n,m):
    if n+m==20 or n==20 or m==20:
        return True
    else:
        return False
x=twenty(20,10)
y=twenty(12,8)
z=twenty(2,3)
print(x)
print(y)
print(z)

True
True
False

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [191]:
def almost_there(n):
    return 90 <= n <= 110 or 190 <= n <= 210



x= almost_there(209) 
print(x)

True

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum  exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [199]:
def blackjack(a, b, c):
    sum = a + b + c
    if sum <= 21:
        return sum
    elif sum > 21:
        if a == 11 or b == 11 or c == 11:
            return sum-10
        else:
            return 'BUST'

print(blackjack(9, 9, 11))

19